aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.9.1
aiosignal==1.4.0
asgiref==3.9.2
attrs==25.3.0
autobahn==25.10.2
Automat==25.4.16
beautifulsoup4==4.14.0
boto3==1.40.55
botocore==1.40.55
Brotli==1.1.0
certifi==2025.8.3
cffi==2.0.0
channels==4.1.0
channels-redis==4.2.0
charset-normalizer==3.4.3
constantly==23.10.4
cryptography==46.0.3
cssselect2==0.8.0
daphne==4.1.2
dj-database-url==3.0.1
Django==4.2.24
django-bootstrap5==25.2
django-ratelimit==4.1.0
django-redis==6.0.0
django-storages==1.14.6
fonttools==4.60.1
freetype-py==2.5.1
frozenlist==1.7.0
gunicorn==23.0.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
jmespath==1.0.1
lxml==6.0.2
msgpack==1.1.2
multidict==6.6.4
packaging==25.0
pdfkit==1.0.0
pillow==12.0.0
propcache==0.3.2
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.28.0
pycparser==2.23
pydyf==0.11.0
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyotp==2.9.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
redis==5.0.8
reportlab==4.4.4
requests==2.32.5
rlPyCairo==0.4.0
s3transfer==0.14.0
service-identity==24.2.0
setuptools==80.9.0
six==1.17.0
soupsieve==2.8
sqlparse==0.5.3
svglib==1.6.0
tinycss2==1.4.0
tinyhtml5==2.0.0
twilio==9.8.2
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
webencodings==0.5.1
whitenoise==6.11.0
yarl==1.20.1
zope.interface==8.0.1
zopfli==0.2.3.post1
